/* font */
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #f6f8f9;
    font-family: sans-serif;
    color:#444851;
}

ul{
    list-style-type: none;
    /* padding-left: 1rem; */
}
li{
    font-size: 1.2rem;
    padding: 0.87rem 0rem;
}

/* main header */
#main-header{
    background-color: white;
    padding:0.6rem 1.5rem;
}
/* 
soluzione alternativa
dare il vertical align all' img e al brand
 */
#main-header img{
    height: 4rem;
}
#main-header .brand-name{
    font-size: 3.1rem;
    font-weight: bold;
    margin-left: 0.3rem;
    line-height: 4rem;
    vertical-align: top;
    color:black;
}

main{
    padding: 3.1rem 0;
}

/* button */
button{
    background: none;
    padding:0.5rem 0.8rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border:none;
}
button.filled{
    background-color: #47adf1;
    color:white;
}
button.border{
    border: 2px solid #d2d3d4;
    color: #d2d3d4;
    /* f2f3f4 */
}

/* content */
.content{
    width: 61rem;
    margin: 0 auto;
    padding: 1rem 3.5rem 0.5rem;
    background-color: white;
    margin-bottom: 0.2rem;
}
header.content{
    border-radius: 5px 5px 0 0;
}
section.content{
    padding-top: 2rem;
    border-radius: 0 0 5px 5px;
}

/* custon list */
.list-title{
    font-size: 1.4rem;
    font-weight: bold;
}

/* radio "button" */

/* soluz alt
    no text-align e vertical align
    si padding font-size
*/
.radio{
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    vertical-align: top;
    font-size: 0.8rem;
}
.color-red{
    color: #eb4c42;
    border-color: #eb4c42;
}
.color-green{
    color: #72c5b1;
    border-color: 72c5b1;
}

/* ellipse message */
.ellipse{
    border-radius: 0.8rem;
    padding:0.5rem 1rem;
    color:white;
    font-size: 0.7rem;
}
.bg-lightblue{
    background-color: #45abea;
}
.bg-green{
    background-color: #64c0a9;
}
.bg-orange{
    background-color: #f29e33;
}
.bg-purple{
    background-color: #9c72e4;
}
.bg-magenta{
    background-color: #d863a1;
}
.bg-lime{
    background-color: #b0c926;
}
.hide{
    display: none;
}